.wrapper header{
  font-size: xx-large;
  font-style: oblique;
  color:white;
  border-radius: 0cqmax;
  text-align: center;
}

body{
  background-image:url('/images/architecture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

.section-one{
  background-color:white;
;
}
.section-one h1{
  text-align: center;
  font-size: xx-large;
  color: black;
  list-style-type: style;;
}
.section-one p{
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: 700;
}
.section-one img{
  border-radius: 20px;
  width: 1200px;
  margin: 5px;
  height:auto;
  justify-content:center;
  padding: 0cqmin;
}
.section-two {
  background-color: white;
}
.section-two h1{
  text-align: center;
  font-size: xx-large;
  color:black;
}
.section-two p{
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: 700;
}
.section-two img{
  border-radius: 20px;
  width: 1200px;
  margin: 5px;
  height:auto;
  justify-content:center;
  padding:0cqmin;
}
.section-three {
  background-color: white;
}
.section-three p{
  text-align: center;
  color: black;
  font-size: xx-large;
  font-weight: 700;
}
.section-three img{
  border-radius: 20px;
  width: 1200px;
  margin: 5px;
  height:auto;
  justify-content:center;
  padding: 0cqmin;
}
}

 